project_notebook.txt
excel_data/
reports/
constant_lists/
java/
models/
files_from_dina/
full_texts_all/
full_texts_sample/
methods_xml/
no_methods_xml/
reports/
xml_per_line_1200_jim
test_psql.py
.ipynb_checkpoints
__pycache__
